header {
    background: url('./images/Background2.jpg') no-repeat 50% 50%;
    height: auto;
    background-size: cover; 
}


.blackText {
  color: black;
  font-size: 120%;
}


#aboutMeText {
  margin-right: 50%;
  text-align: justify;
  background-color: white;
}

#familyLife {
  margin-right: 50%;
  text-align: justify;
  background-color: whitesmoke;
}